
body{
  margin: 0;
}

a {
  text-decoration: none
}

.navbar {
  padding-top: 10px;
  width: 100%;
  min-height: 80px;
  color: white;
  background-color: white;
  display: flex;
}

.navTitle{
  font-size: 59px;
  color: black;
}
.navLogo {
  height: 59px;
  width: 59px;
  margin: 0 15px;
  /* transform: rotate(270deg); */
}
.navBrand {
  display: flex;
  width: 30%;
  height: 100%;
  flex-grow: 3
}
.navLink {
  margin: 3px;
  font-size: 25px;
  height: 50%
}
.navOptions{
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  width: 70%;
  height: 100%;
  float:right;
  margin-top: 5px;
  color: black
}
.cart {
  font-size: 40px;
  margin-right: 10px;

}


body {
  font-family: 'Tajawal', sans-serif;
}

/**************/

/** HOMEPAGE **/

/**************/

.substance {
  /* background-color: yellow; */
}

/*** Carousel ***/

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  /* max-width: 1000px; */
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
  z-index: 0;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 28px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  z-index: 2;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.carouselDots {
  margin-top: -50px;
  padding-bottom: 12px;
  z-index: 10;
  /* background-color: black; */
}

.dot {
  cursor: pointer;
  height: 20px;
  width: 20px;
  margin: 0 4px;
  background-color: darkgray;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  z-index: 999;
}

.active, .dot:hover {
  background-color: white;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/* Signup */

.signup-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: flex-start;
  padding: 8em 3em;
  color: #212F3C;
  background-color: lightgray;
}

.email-input {
  display: flex;
  align-items: center;
  align-content: flex-start;
  justify-content: center;
  align-items: stretch;
}

.email-input>* {
  margin: 0 1em 0 1em;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.button {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

/* Products */
.filter {
  width: 100%;
  min-height: 25px;
  background-color: #2F404E;
  padding: 5px;
}

.filter:hover {
  color: white;
  font-weight: bold;
}

.filters {
  color: lightgray;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  background-color: gray;
  margin-bottom: 2px;
  flex-wrap: wrap;
}
.products-grid {
  background-color: gray;
  width: 100%;
  min-height: 75vh;
  display: flex;
  flex-direction: row;
}
.cartUl{
  margin-left: 2px;
  padding-left: 0px;
  background-color: gray;
  color: white;
}
.info{
  height: 100%;
  order: 2;
  width: 25%;
}
.info-name{
  width: 100%;
  text-align: center;
  height: 25px;
  color: white;
  font-size: 25px;
  border-bottom: 1px dotted #CCC;
}
.info-company{
  width: 100%;
  text-align: center;
  height: 25px;
}
.info-price{
  font-size: 18px;
  text-align: right;
  color: #2F404E;
  margin-right: 15px;
}
.info-desc{
  width: 100%;
  color: white;
  margin-left: 2px;
  font-size: 20px;
  border-bottom: 1px solid #2F404E;
}
.add-to-cart{
  text-align: center;
  color: #2F404E;
  margin-top: 2px;
  height: 30px;
  font-size: 30px;
}
.grid {
  width: 75%;
  order: 1;
  background: #CCC;
  min-height: 75vh;
}

.grid::after {
  content: "";
  display: block;
  clear: both;
}

.grid-item {
  flex-grow: 2;
  width: 21.833%;
  padding-bottom: 21.833%;
  overflow: hidden;
  float: left;
  background: #CCC;
  transform: rotate(45deg);
  margin: 5.5%;
  margin-top: -11%;
  transition: background .75s;
}

.grid-item:nth-child(1), .grid-item:nth-child(2), .grid-item:nth-child(3) {
  margin-top: 5%;
}

.grid-item:nth-child(5n+4) {
  margin-left: 21.9%;
}

.grid-item:nth-child(5n+6) {
  clear: left;
}

.grid-item:nth-child(5n+6):last-of-type {
  margin-left: 38.25%;
}

.grid-item:hover {
  background: #FFF;
}

.name {
  display: inline;
  font-size: 15px;
  position: absolute;
  bottom: 3px;
  left: 3px;
  z-index: 5;
  color: black;
  opacity: 0;
  transition: opacity .75s
}

.fade {
  opacity: 1.0;
}

.price {
  display: inline;
  transform: rotate(-45deg);
  top: 10px;
  right: 10px;
  position: absolute;
  font-size: 15px;
  z-index: 5;
  color: #CCC;

}

.grid-inner {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotate(-45deg);
  text-align: center;
  /* padding-top: 10%; */
  font-size: 2em;
}

/************/

/** FOOTER **/

/************/

.footer-container {
  display: flex;
  /* height: 200px; */
  flex-direction: row;
  flex-wrap: nowrap;
  /* height: 100%; */
  width: 100%;
  background: #58585b;
  color: white;
  font-size: 1.5rem;
  justify-content: space-around;
  align-items: stretch;
  transition: all .3s ease;
}

.footer-column {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: flex-start;
  padding: 0 2% 0 2%;
}

.column-title {
  width: 100%;
  justify-content: center;
  border-bottom: 2px solid white;
  padding: 0 0 10px 0;
  margin: 0 0 25px 0;
  text-align: center;
}

.column-title h3 {
  margin-bottom: 0;
}

li {
  display: flex;
  padding: 10px;
  transition: all 0.5s ease;
}

li .product-name {
  padding: 10px;
  min-height: 60px;
  display: inline;
}

li img {
  max-width: 120px;
  max-height: 120px;
}

.products-preview li:hover {
  background: gray;
}

li:hover .product-name .hide{
  display: block;
}

.hide {
  display: none;
}

.navOptions a:link, .navOptions a:visited {
  color: black;
}

.navOptions a:hover, .navOptions a:active {
  color: darkgray;
}

ul a:link, ul a:visited {
  color: white;
}

ul a:hover, ul a:active {
  color: lightgray;
}
